// =========================================
// 0-767px
footer {
    background-color: var(--footer-background-color);
    padding: 60px 0;

    address {
        margin-top: 28px;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.address-info {
    text-align: center ;
    margin: auto;
    margin-bottom: 60px ;
}

.contacts-list {
    display: flex;
    flex-direction: column;

    &__item:nth-of-type(-n+2) {
        margin-bottom: 12px;
    }

    &__link{
        font-size: 14px;
        line-height: 1.71;
        font-style: normal;
        letter-spacing: 0.03em;
        color: var(--footer-contacts-color);

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;

        &:hover,
        &:focus {
            color: var(--footer-contacts-active-color);
        }
    }

    &__mail-contact{
        color: var(--footer-contacts-active-color);
    }
}

.social-info {
    text-align: center;
    width: 206px;
    margin-bottom: 60px;

    .follow-us {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--footer-social-color);
    }

    &__links {
        background-color: rgba(255, 255, 255, 0.1);
    }

    &__icons {
        fill: var(--social-icons-color-active);
    }

    & .social-icons-links-list{
    margin-top: 20px;
}
}



.follow {
    text-align: center;
    width: 100%;
    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        color: #FFFFFF;

    }

    &__form {
        display: flex;
        width: 100%;
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }

    &__email {
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: transparent;
        width: 100%;
        height: 50px;
        padding-left: 16px;
        outline: none;
        color: #FFFFFF;
        margin-bottom: 20px;

        &::placeholder {
                font-size: 16px;
                line-height: 1.25;
        
                letter-spacing: 0.03em;
        
                color: rgba(255, 255, 255, 0.6);
            }
    }

    

    &__button {
        width: 200px;
        height: 50px;

        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;

        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        text-align: center;
        letter-spacing: 0.06em;

        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 12px;
    }

    &__button-icon {
        margin-left: 10px;
        fill: #FFFFFF;
        width: 24px;
        height: 24px;
    }
}






// =========================================
// +768px

@media screen and (min-width:768px) {
    .footer {
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-around;
        }
    
    .address-info {
        margin: 0;
        margin-bottom: 60px ;
    }

    .follow {
        &__email {
            width: 450px;
        }
    }
}






// =========================================
// +1200px
@media screen and (min-width:1200px) {


        .footer {
            align-items: baseline;
            flex-direction: row;
        }


        .address-info {
            text-align: left;
            width: 231px;
            margin-right: 70px;
        }
    
        .social-info {
            width: 206px;
            text-align: left;
        }
    
    
    
        .follow {
            text-align: left;
            margin-left: 93px;
            width: 570px;

            &__email {
                width: 358px;
                margin: 0;
            }

            &__form{
                flex-wrap: nowrap;
                flex-direction: row;
                align-items: center;
            }

        }
}