header{
    border-bottom: 1px solid #ECECEC;
    padding: 10px 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;


    &__menu-button{
        padding: 0;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        

            &:hover .header__menu-icon,
            &:focus .header__menu-icon {
                fill: var(--active-link-color);
            }
    }

    &__menu-icon{
        width: 40px;
        height: 40px;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    }

    &__link {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        display: block;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;


        &:hover,
        &:focus {
            color: var(--active-link-color);
        }

        &:hover .header-contacts-list__icons,
        &:focus .header-contacts-list__icons {
            fill: var(--active-link-color);
        }
    }

    
    .nav-list{
        display: none;
    }

    .header-contacts-list{
        display: none;
    }
}


.mobile-menu{

    padding: 48px 40px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    
    &.is-open{
        opacity: 1;
        visibility: visible;
        pointer-events: visible;
    }

    &__close-button{
        padding: 0;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
        cursor: pointer;

        position: absolute;
        top: 10px;
        right: 15px;
        

            &:hover .mobile-menu__close-icon,
            &:focus .mobile-menu__close-icon {
                fill: var(--active-link-color);
            }
    }

    &__close-icon {
        width: 40px;
        height: 40px;
        fill: #000000;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        .modal-window__close-modal:focus &,
        .modal-window__close-modal:hover & {
            fill: #2196F3;
        }
    }

    .navigation {
        display: flex;
        align-items: center;
    }

    .nav-list {
        display: flex;
        column-gap: 50px;
        gap: 32px;

        flex-direction: column;

        &__link {
            color: var(--title-color);

        }
    }


    .chosen {
        color: var(--active-link-color);
        position: relative;
    }

    .header-contacts-list {
        margin-top: 306px;
        display: flex;
        gap: 32px;
        flex-direction: column;

        &__tel-link {
            color: var(--header-contacts-color);
            fill: var(--header-contacts-color);

            display: flex;
            align-items: center;
            font-weight: 500;
                font-size: 34px;
                line-height: 1.18;
                /* identical to box height */
            
                letter-spacing: 0.02em;
            
                color: #2196F3;
        }
        
        &__email-link {
            color: var(--header-contacts-color);
            fill: var(--header-contacts-color);

            display: flex;
            align-items: center;
            font-weight: 500;
                font-size: 24px;
                line-height: 1.17;
                letter-spacing: 0.02em;
            
                color: #757575;
        }

        &__icons {
            margin-right: 10px;
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
        }
    }


    .header-social-links{
        margin-top: 64px;
        display: flex;

        &__items{
            display: flex;
        }
        
        &__items:not(:last-of-type)::after{
            content:'';
            margin-left: 10px;
            margin-right: 10px;
            width: 1px;
            height: 22px;
            display: block;
            background-color: #212121;
        }

        &__links{
            
            font-weight: 500;
            font-size: 18px;
            line-height: 1.22;
            letter-spacing: 0.02em;
            color: #2196F3;
        }
    }
}





@media screen and (min-width: 1200px) {


    .header {

        &__link {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
            padding: 32px 0;
            display: block;

            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;


            &:hover,
            &:focus {
                color: var(--active-link-color);
            }

            &:hover .header-contacts-list__icons,
            &:focus .header-contacts-list__icons {
                fill: var(--active-link-color);
            }
        }

    }

    .navigation {
        display: flex;
        align-items: center;
    }

    .nav-list {
        display: flex;
        column-gap: 50px;
        align-items: center;

        &__link {
            color: var(--title-color);
        }
    }


    .chosen {
        color: var(--active-link-color);
        position: relative;

        &::after {
            content: "";

            position: absolute;
            bottom: 0;
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: #2196F3;
            margin-bottom: -1px;

        }
    }

    .header-contacts-list {
        display: flex;
        align-items: center;
        column-gap: 40px;

        &__link {
            color: var(--header-contacts-color);
            fill: var(--header-contacts-color);

            display: flex;
            align-items: center;

        }

        &__icons {
            margin-right: 10px;
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
        }
    }
}