.logo {
    font-family: var(--raleway-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    letter-spacing: 0.03em;
    


    &__web {
        color: var(--logo-web-color);
    }

}

.header__logo {
    color: var(--header-logo-color);
    margin-right: 93px;
}

.footer__logo {
    color: var(--footer-logo-color);
}
