:root {
    /* general colors */
    --general-color: #757575;

    --active-link-color: #2196F3;

    --header-logo-color: #000000;
    --footer-logo-color: #FFFFFF;
    --footer-background-color: #2F303A;
    --logo-web-color: #2196F3;


    --header-contacts-color: #757575;
    --footer-contacts-active-color: #FFFFFF;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);

    /* index colors */
    --hero-background-color: #2F303A;
    --hero-title-color: #FFFFFF;
    --hero-button-background-color: #2196F3;
    --hero-button-background-color-active: #188CE8;
    --hero-button-color: #FFFFFF;
    --what-we-do-color: #FFFFFF;
    --our-team-cards-background-color: #FFFFFF;
    --our-team-section-background-color: #F5F4FA;
    --title-color: #212121;
    --features-icon-bg-color: #F5F4FA;
    --social-icons-color: #afb1b8;
    --social-icons-color-active: #ffffff;
    --footer-social-color: #FFFFFF;
    --clients-icons-color: #AFB1B8;


    /* portfolio colors */
    --filter-button-background-color: #F5F4FA;
    --filter-button-background-active-color: #2196F3;
    --filter-buttons-active-color: #FFFFFF;

    --project-cards-background-color: #FFFFFF;

    --roboto-font: 'Roboto', sans-serif;
    --raleway-font: 'Raleway', sans-serif;

}


